# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num_int = 12

print(num_int)
print(type(num_int))

12
<class 'int'>

##### Assinging float

In [2]:
num_float = 1.34

print(num_float)
print(type(num_float))

1.34
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 4
num2 = 8

result = num1 + num2

print(result)

#shorthand version
result += 3
print(result)

8
11

In [16]:
result += 3
print(result)

32

##### Subtraction

In [21]:
result_diff = num2 - num1
print(result_diff)

0

##### Multiplication

In [23]:
result_prod = num1 * num2
print(result_prod)

result_prod *= 2
print(result_prod)

16
32

##### Division

In [25]:
result_div = num2 / num1
print(result_div)

print(num1, num2)

1.0
4 4

##### Floor Division

In [30]:
# sometimes referred to as integer division
# like counterpoint to modulo

result_floor = 19//5
print(result_floor)

result_floor //= 1
print(result_floor)

3
3

##### Modulo

In [33]:
result_mod = 19 % 5
print(result_mod)

result_mod %= 3
print(result_mod)

4
1

##### Exponential

In [28]:
num = 3 ** 4
print(num)

num **= 2
print(num)

81
6561

### String Input-Output

##### String Assignment

In [34]:
name1 = "Rebecca"
print(name1)
print(type(name1))

Rebecca
<class 'str'>

In [35]:
name2 = 'Xaq'
print(name2)
print(type(name2))

Xaq
<class 'str'>

In [36]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [41]:
contraction2 = 'You can\'t do that'
print(contraction2)

You can't do that

In [42]:
quote1 = 'Brian said, "I love Python!"'
print(quote1)

Brian said, "I love Python!"

##### Escape Characters

In [43]:
print('You can\'t do that')

You can't do that

In [44]:
print('Hello this string is super long
      i keep typing down here')

SyntaxError: EOL while scanning string literal (3617606343.py, line 1)

In [46]:
print('hello, how are you this line is \
also super long')

hello, how are you this line is also super long

In [47]:
# \n   (new line character)

print('hello \nhow are you')

hello
how are you

In [49]:
# \t    (tab character)

print('hello \thow are you')

# \b   (backspace)

print('hello\bhow are you')

hello 	how are you
hellohow are you

In [50]:
# Raw String  (ignores escape characters)

print(r'hello\nhow are you')

hello\nhow are you

##### String Concatenation

In [54]:
first_name = "James"
last_name = "Madison"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr."
print(full_name)

James Madison
James Madison, Jr.

In [66]:
num_a = 10
num_b = '10'

##### Type Conversion

In [69]:
num_b_int = int(num_b)
print(num_b, type(num_b))
print(num_b_int, type(num_b_int))

10 <class 'str'>
10.0 <class 'float'>

In [70]:
num_a_str = str(num_a)
print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

10 <class 'int'>
10 <class 'str'>

##### .format() and f-strings

In [79]:
# string.format(*values)

name = 'Rebecca'
age = 35
home = 'Austin'

print("Hello my name is {} and I am {} years old and I'm from {}".format(name, age, home))

Hello my name is Rebecca and I am 35 years old and I'm from Austin

In [80]:
print(f"Hello my name is {name} and I am {age} years old and I'm from {home}.")

Hello my name is Rebecca and I am 35 years old and I'm from Austin.

##### Old Way (python 2)

In [81]:
print("hello my name is %s and I am from %s" % (name, home))

hello my name is Rebecca and I am from Austin

In [82]:
result = 10 + 5
print("the result is %i" % result)

the result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [83]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

print(f"I drive a {color} {int(year)+1} {make} {model}.")

I drive a blue 2023 Ford Focus.

### Booleans

In [84]:
bool_true = True
print(bool_true, type(bool_true))

True <class 'bool'>

In [85]:
bool_f = False
print(bool_f, type(bool_f))

False <class 'bool'>

### If Statements

In [88]:
# if <expression>:
#     <statement>

if True:
    print("this is true")

this is true

In [89]:
if False:
    print("how can you be seeing this???")

In [91]:
print("start of code")

if False:
    print('hello')
    print('how are you?')
    print('Good, you?')
    
print('end of code')

start of code
end of code

In [97]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 < num2)
print(num1 == num2 * num3)
print(num1 >= num1)
print(num2 != num1/num3)

False
True
True
False

In [100]:
if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')

if num2 != num1/num3:
    print('you should not be seeing this')

num1 is greater than num2
num1 is equal to num2 times num3

## Using 'and'/'or' with If Statements

In [105]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

num1 = 10
num2 = 5
num3 = 2

if num1 > num2 and num2 > num3:
    print('both conditions are true')
    
if num1 > num2 or num2 < num3:
    print('at least one is true')

both conditions are true
at least one is true

### Else Statements

In [107]:
# An else statement runs when the if statement above it evaluates to False

required_ht = 60
rider_height = 59
if rider_height >= required_ht:
    print("you can ride")
else: 
    print('you are too short to ride')

you are too short to ride

### Elif Statements

In [114]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
required_age_with_parent = 14


def see_film(age, has_parent):
    if age >= required_age:
        print('Enjoy the film')
    elif age >= required_age_with_parent and has_parent:
        print('You can see the film with adult supervision')
    else:
        print('You are not old enough to see this film')
        
see_film(13, True)

You are not old enough to see this film

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [126]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

def ticket_price(person_age):
    if person_age >= 65:
        print(f'Your ticket is ${ticket * .75:.2f}')
    elif person_age >= 10:
        print(f'Your ticket is ${ticket:.2f}')
    else: 
        print(f'Your ticket is ${ticket * .5:.2f}')
        
ticket_price(person_age)

Your ticket is $5.00

### Lists

##### Declaring Lists

In [132]:
n_1 = [] # empty list declaration
print(n_1, type(n_1))

names = ['max', 'cindy', 'kathy', 'bob', 'frank', 'natalie', 'jim']

print(names, type(names))

[] <class 'list'>
['max', 'cindy', 'kathy', 'bob', 'frank', 'natalie', 'jim'] <class 'list'>

##### Indexing a List

In [149]:
# list[index]
# list[start: stop]
# list[start: stop: step] 

# start is inclusive, stop is exclusive

# single item

print(names[0].title())
print(names[-6].title())

# print the list starting at index 2 and end at index 5
print(names[2:6])

# print the list starting at index 2 and go to the end
print(names[2:])

# print the list starting at the beginning and go to the 5th element
print(names[:5])

# print the list starting at index 1 and ending at index 5 and only every other one
print(names[1:6:2])

print(names[::2])

# print the list in reverse
print(names[::-1])

Max
Cindy
['kathy', 'bob', 'frank', 'natalie']
['kathy', 'bob', 'frank', 'natalie', 'jim']
['max', 'cindy', 'kathy', 'bob', 'frank']
['cindy', 'bob', 'natalie']
['max', 'kathy', 'frank', 'jim']
['jim', 'natalie', 'frank', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [156]:
names.append('rebecca')
print(names)

['max', 'cindy', 'kathy', 'bob', 'frank', 'natalie', 'jim', 'rebecca']

##### .insert()

In [162]:
# list.insert(index,value)
names.insert(2, 'brian')
print(names)

['max', 'charlie', 'brian', 'cindy', 'kathy', 'bob', 'frank', 'natalie', 'jim', 'rebecca']

##### .pop()

In [166]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)

my_name = names.pop()
print(names)

print(my_name)

['max', 'charlie', 'brian', 'cindy', 'kathy', 'bob', 'frank']
['max', 'charlie', 'brian', 'cindy', 'kathy', 'bob']
frank

In [167]:
name_3 = names.pop(3)

print(names)
print(name_3)

['max', 'charlie', 'brian', 'kathy', 'bob']
cindy

In [168]:
# .index()

for _ in range(5):
    names.append('Bob')
    
print(names)

['max', 'charlie', 'brian', 'kathy', 'bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

In [ ]:
print(names[3])

In [169]:
#.count()
print(names.count('Bob'))

5


##### .remove()

In [170]:
# value to be removed , not index
print(names)

names.remove('Bob')

print(names)

['max', 'charlie', 'brian', 'kathy', 'bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
['max', 'charlie', 'brian', 'kathy', 'bob', 'Bob', 'Bob', 'Bob', 'Bob']

##### del()

In [171]:
# del does not have () after
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del names[2]

print(names)

['max', 'charlie', 'kathy', 'bob', 'Bob', 'Bob', 'Bob', 'Bob']

In [172]:
# .clear()
print(names)

names.clear()

print(names)

['max', 'charlie', 'kathy', 'bob', 'Bob', 'Bob', 'Bob', 'Bob']
[]

##### Concatenating Two Lists

In [173]:
# will append two lists together, not add up the elements in each list
list_1 = [1, 2, 3, 4]
list_2 = [5, 6, 7, 8, 9]
list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Lists Within Lists

In [177]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other
names = ['max', 'cindy', 'kathy', 'bob', ['frank', 'natalie', 'jim'], 'josh']
things = [1, 1.23, 'hello']

print(names)
print(names[4])
print(names[4][1])
print(names[5])

['max', 'cindy', 'kathy', 'bob', ['frank', 'natalie', 'jim'], 'josh']
['frank', 'natalie', 'jim']
natalie
josh

### For Loops

In [179]:
# for <keyword> in <iterable>:
#     <statement>
print('code start')
for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(f"the x variable is equal to {x}")
print('code end')

code start
the x variable is equal to 5
the x variable is equal to 10
the x variable is equal to 15
the x variable is equal to 20
the x variable is equal to 25
the x variable is equal to 30
the x variable is equal to 35
the x variable is equal to 40
code end

In [183]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [185]:
full_name = 'rebecca peace'
for letter in full_name:
    print(letter)

r
e
b
e
c
c
a

p
e
a
c
e

##### Continue Statement

In [ ]:
# will continue to next iteration

In [187]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [188]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    if num == 5:
        break
    print(num)

1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [193]:
people = ['ryan', 'mickey', 'janet', 'kathy']

for person in people:
    # to do: email each person
    pass
print(people)

['ryan', 'mickey', 'janet', 'kathy']

##### Nested/Double For Loops

In [201]:
nums = [1, 2, 3, 4, 5]

for i in nums:
    print(i)
    for j in nums:
        print(f"i = {i}, j = {j}")

1
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
2
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
4
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5

### While Loops

In [205]:
# while <conditional>:
#     <statement to run while condition is true>

my_number = 1
while my_number <= 10:
    print(my_number)
    my_number += 1

1
2
3
4
5
6
7
8
9
10

In [211]:
x = 1
while x < 50:
    if x % 5 == 0:
        x += 1
        break    
    print(x)
    x += 1

1
2
3
4

##### Looping 'While True'

In [214]:
while True:
    keep_playing = input('Would you like to keep playing this game? y/n ').lower()
    if keep_playing == 'n':
        break
    else: 
        print("Let's start again!")

Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n n

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [216]:
def cubed():
    x = 1
    while True:
        if (x**3) > 1000:
            break
        print(x**3)
        x += 1
        
cubed()

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>